/* 
 /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$ 
/$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$|_  $$_/| $$$ | $$| $$_____/| $$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$  | $$  | $$$$| $$| $$      | $$  \ $$
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$  | $$  | $$ $$ $$| $$$$$   | $$$$$$$/
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$  | $$  | $$  $$$$| $$__/   | $$__  $$
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$  | $$  | $$\  $$$| $$      | $$  \ $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$ /$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$
\______/  \______/ |__/  \__/   |__/  |__/  |__/|______/|__/  \__/|________/|__/  |__/ */

.container {
    height: 95vh;
    min-height: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    top: 0;
    bottom: 0;
}

/* 
 /$$$$$$$  /$$$$$$ /$$    /$$     /$$$$$$$$ /$$$$$$  /$$$$$$$ 
| $$__  $$|_  $$_/| $$   | $$    |__  $$__//$$__  $$| $$__  $$
| $$  \ $$  | $$  | $$   | $$       | $$  | $$  \ $$| $$  \ $$
| $$  | $$  | $$  |  $$ / $$//$$$$$$| $$  | $$  | $$| $$$$$$$/
| $$  | $$  | $$   \  $$ $$/|______/| $$  | $$  | $$| $$____/ 
| $$  | $$  | $$    \  $$$/         | $$  | $$  | $$| $$      
| $$$$$$$/ /$$$$$$   \  $/          | $$  |  $$$$$$/| $$      
|_______/ |______/    \_/           |__/   \______/ |__/ */

.div-inside-one{
    display: flex;
    flex-direction: column;
}