/*
 /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$ 
/$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$|_  $$_/| $$$ | $$| $$_____/| $$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$  | $$  | $$$$| $$| $$      | $$  \ $$
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$  | $$  | $$ $$ $$| $$$$$   | $$$$$$$/
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$  | $$  | $$  $$$$| $$__/   | $$__  $$
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$  | $$  | $$\  $$$| $$      | $$  \ $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$ /$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$
\______/  \______/ |__/  \__/   |__/  |__/  |__/|______/|__/  \__/|________/|__/  |__/ */

.container{
    width: 100%;
    height: 900px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: #333333;
    top: 0;
    bottom: 0;
}

/* 
/$$$$$$$  /$$$$$$ /$$    /$$        /$$$$$$$   /$$$$$$  /$$   /$$       /$$$$$$  /$$   /$$ /$$$$$$$$
| $$__  $$|_  $$_/| $$   | $$       | $$____/  /$$$_  $$|__/  /$$/      /$$__  $$| $$$ | $$| $$_____/
| $$  \ $$  | $$  | $$   | $$       | $$      | $$$$\ $$     /$$/      | $$  \ $$| $$$$| $$| $$      
| $$  | $$  | $$  |  $$ / $$//$$$$$$| $$$$$$$ | $$ $$ $$    /$$//$$$$$$| $$  | $$| $$ $$ $$| $$$$$   
| $$  | $$  | $$   \  $$ $$/|______/|_____  $$| $$\ $$$$   /$$/|______/| $$  | $$| $$  $$$$| $$__/   
| $$  | $$  | $$    \  $$$/          /$$  \ $$| $$ \ $$$  /$$/         | $$  | $$| $$\  $$$| $$      
| $$$$$$$/ /$$$$$$   \  $/          |  $$$$$$/|  $$$$$$/ /$$/  /$$     |  $$$$$$/| $$ \  $$| $$$$$$$$
|_______/ |______/    \_/            \______/  \______/ |__/  |__/      \______/ |__/  \__/|________/
 */
                                                                                                     
.div-inside-one{
    background-color: red;
    display: flex;

    width: 100%;
    height: 50%;
}
.div-inside-one .div-one{
    background-color: turquoise;
    width: 50%;
    height: 100%;
}
.div-inside-one .div-two{
    background-color: green;
    width: 50%;
    height: 100%;
}
.div-inside-one .div-one-inside-two{
    background-color: yellow;
    width: 100%;
    height: 50%;
}
.div-inside-one .div-two-inside-two{
    background-color: purple;
    width: 100%;
    height: 50%;
}

/* 
/$$$$$$$  /$$$$$$ /$$    /$$        /$$$$$$$   /$$$$$$  /$$   /$$   /$$$$$$$$ /$$      /$$  /$$$$$$ 
| $$__  $$|_  $$_/| $$   | $$       | $$____/  /$$$_  $$|__/  /$$/  |__  $$__/| $$  /$ | $$ /$$__  $$
| $$  \ $$  | $$  | $$   | $$       | $$      | $$$$\ $$     /$$/      | $$   | $$ /$$$| $$| $$  \ $$
| $$  | $$  | $$  |  $$ / $$//$$$$$$| $$$$$$$ | $$ $$ $$    /$$//$$$$$$| $$   | $$/$$ $$ $$| $$  | $$
| $$  | $$  | $$   \  $$ $$/|______/|_____  $$| $$\ $$$$   /$$/|______/| $$   | $$$$_  $$$$| $$  | $$
| $$  | $$  | $$    \  $$$/          /$$  \ $$| $$ \ $$$  /$$/         | $$   | $$$/ \  $$$| $$  | $$
| $$$$$$$/ /$$$$$$   \  $/          |  $$$$$$/|  $$$$$$/ /$$/  /$$     | $$   | $$/   \  $$|  $$$$$$/
|_______/ |______/    \_/            \______/  \______/ |__/  |__/     |__/   |__/     \__/ \______/  */


.div-inside-two{
    
}
.div-inside-two .div-one{
    
}
.div-inside-two .div-two{
    
}
.div-inside-two{
    
}
.div-inside-two{
    
}
.div-inside-two{
    
}
.div-inside-two{
    
}
.div-inside-two{
    
}