/* 
 /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$ 
/$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$|_  $$_/| $$$ | $$| $$_____/| $$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$  | $$  | $$$$| $$| $$      | $$  \ $$
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$  | $$  | $$ $$ $$| $$$$$   | $$$$$$$/
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$  | $$  | $$  $$$$| $$__/   | $$__  $$
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$  | $$  | $$\  $$$| $$      | $$  \ $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$ /$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$
\______/  \______/ |__/  \__/   |__/  |__/  |__/|______/|__/  \__/|________/|__/  |__/ */

.container {
    height: 95vh;
    min-height: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #333333;
    top: 0;
    bottom: 0;
}

/* 
 /$$$$$$$  /$$$$$$ /$$    /$$     /$$$$$$$$ /$$$$$$  /$$$$$$$ 
| $$__  $$|_  $$_/| $$   | $$    |__  $$__//$$__  $$| $$__  $$
| $$  \ $$  | $$  | $$   | $$       | $$  | $$  \ $$| $$  \ $$
| $$  | $$  | $$  |  $$ / $$//$$$$$$| $$  | $$  | $$| $$$$$$$/
| $$  | $$  | $$   \  $$ $$/|______/| $$  | $$  | $$| $$____/ 
| $$  | $$  | $$    \  $$$/         | $$  | $$  | $$| $$      
| $$$$$$$/ /$$$$$$   \  $/          | $$  |  $$$$$$/| $$      
|_______/ |______/    \_/           |__/   \______/ |__/ */

.div-inside-one {
    background-color: red;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
}

.div-inside-one .div-one {
    background-color: blue;
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
}

.div-inside-one .div-one .div-left {
    background-color: green;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.div-inside-one .div-one .div-left .div-one-left {
    background-color: tomato;
    height: 50%;
    width: 100%;
}

.div-inside-one .div-one .div-left .div-two-left {
    background-color: burlywood;
    height: 50%;
    width: 100%;
}

.div-inside-one .div-one .div-right {
    background-color: yellow;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

/* 
/$$$$$$$  /$$$$$$ /$$    /$$        /$$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$$$ /$$$$$$  /$$      /$$
| $$__  $$|_  $$_/| $$   | $$       | $$__  $$ /$$__  $$|__  $$__/|__  $$__//$$__  $$| $$$    /$$$
| $$  \ $$  | $$  | $$   | $$       | $$  \ $$| $$  \ $$   | $$      | $$  | $$  \ $$| $$$$  /$$$$
| $$  | $$  | $$  |  $$ / $$//$$$$$$| $$$$$$$ | $$  | $$   | $$      | $$  | $$  | $$| $$ $$/$$ $$
| $$  | $$  | $$   \  $$ $$/|______/| $$__  $$| $$  | $$   | $$      | $$  | $$  | $$| $$  $$$| $$
| $$  | $$  | $$    \  $$$/         | $$  \ $$| $$  | $$   | $$      | $$  | $$  | $$| $$\  $ | $$
| $$$$$$$/ /$$$$$$   \  $/          | $$$$$$$/|  $$$$$$/   | $$      | $$  |  $$$$$$/| $$ \/  | $$
|_______/ |______/    \_/           |_______/  \______/    |__/      |__/   \______/ |__/     |__/ */

.div-inside-one .div-two {
    background-color: turquoise;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.div-inside-one .div-two .div-one-inside-two {
    background-color: indigo;
    width: 25%;
    height: 100%;
}

.div-inside-one .div-two .div-two-inside-two {
    background-color: teal;
    width: 50%;
    height: 100%;
}

.div-inside-one .div-two .div-three-inside-two {
    background-color: olivedrab;
    width: 25%;
    height: 100%;
}

/* 
/$$$$$$$  /$$$$$$ /$$    /$$        /$$$$$$$  /$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$
| $$__  $$|_  $$_/| $$   | $$       | $$__  $$|_  $$_/ /$$__  $$| $$  | $$|__  $$__/
| $$  \ $$  | $$  | $$   | $$       | $$  \ $$  | $$  | $$  \__/| $$  | $$   | $$   
| $$  | $$  | $$  |  $$ / $$//$$$$$$| $$$$$$$/  | $$  | $$ /$$$$| $$$$$$$$   | $$   
| $$  | $$  | $$   \  $$ $$/|______/| $$__  $$  | $$  | $$|_  $$| $$__  $$   | $$   
| $$  | $$  | $$    \  $$$/         | $$  \ $$  | $$  | $$  \ $$| $$  | $$   | $$   
| $$$$$$$/ /$$$$$$   \  $/          | $$  | $$ /$$$$$$|  $$$$$$/| $$  | $$   | $$   
|_______/ |______/    \_/           |__/  |__/|______/ \______/ |__/  |__/   |__/ */

.div-inside-two {
    background-color: salmon;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div-inside-two .div-one {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
}

.div-inside-two .div-one .div-one-inside-one {
    background-color: seagreen;
    width: 50%;
    height: 100%;
}

.div-inside-two .div-one .div-two-inside-one {
    background-color: saddlebrown;
    width: 50%;
    height: 100%;
}

.div-inside-two .div-two {
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    width: 100%;
    height: 75%;
}

.div-inside-two .div-two .div-one-inside-two {
    background-color: silver;
    width: 50%;
    height: 50%;
}

.div-inside-two .div-two .div-two-inside-two {
    background-color: fuchsia;
    width: 50%;
    height: 50%;
}

.div-inside-two .div-two .div-three-inside-two {
    background-color: crimson;
    width: 50%;
    height: 100%;
}